page-registration {
  .item {
    background-color: #e6e6fa;
    width: 80%;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
  }
  .item.item-block .item-inner {
    border-bottom: 0;
  }
  .item-input .label {
    color:  rgb(90, 90, 90);
  //  font-weight: 700;
  }
  .login {
  //  background: url("../assets/img/bggg.jpeg") no-repeat center;
    background-size: cover;
    color: $black;
    .logo {
      width: 86px;
      display: block;
      margin: 0 auto;
      margin-top: 4em;
      padding-bottom: 2em;
    }
  }
  .login-btn {
    width: 80%;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    height: 4.4rem;
    color: white;
    font-size: 16px;
    background-color: $danger;
  }
  .social-icon {
    width: 86px;
    padding: 0px 20px;
  }
  .para {
    color: grey;
  }
  .colour{
    color: $danger;
  }
 
  .beta {
    background-color: 	#f7f7f7;
    highlight-height: 0 !important;
}

.newLabel{
  color: grey;
  margin-left: -80%;
}

.iconGrey{
  color: grey;
}

 .redd{
    color: $danger;
  }



}
