<ion-menu persistent="true" class="menu" [content]="content"  side="left">
  <ion-content class="sidebar-menu">

  <ion-row class="img-name-row">
      <ion-col *ngIf="isLoggedin()">
       <br>
       <br>
       <!----<div class="profile-image">
          <ngx-avatar   [style]="ava" bgColor="red" textSizeRatio="2.2" [size]="80"  name={{name}}></ngx-avatar>
        </div>  --> 
        <span class="user-name">&nbsp;&nbsp;Welcome</span>
       <br><span class="user-name2">&nbsp;&nbsp;{{name | uppercase}}</span>
     <!----  <br><span class="user-name">&nbsp;&nbsp;{{email}}</span>  --->
       <br>
       <br><span class="user-name">&nbsp;&nbsp;<b class="texttt">₦</b>&nbsp;&nbsp;<a (click)="wallet()" menuClose>Wallet</a> &nbsp;&nbsp; | &nbsp;&nbsp; <ion-icon class="textt" name="chatboxes"></ion-icon>&nbsp;&nbsp;<a class="text3" (click)="support()" menuClose>Support</a></span>
       
       <!----  <p class="ppp"  menuClose  (click)="settings()">Edit Profile</p>  --> 
      </ion-col>
    </ion-row> 
    <br>
    <br>
<hr>
    <button *ngIf="isLoggedin()" menuClose class="menu-item" ion-item (click)="settings()">
      <ion-icon name="contact" item-left></ion-icon>
      <span class="menu-text"> {{'My Profile'| translate}} </span>
    </button>


    <button menuClose class="menu-item" ion-item (click)="home()">
      <ion-icon name="home" item-left></ion-icon>
     <span class="menu-text"> {{'Order Gas' | translate}} </span>
    </button>


 <!-----  <button menuClose class="menu-item" ion-item (click)="catagory()">
      <ion-icon name="beaker" item-left></ion-icon>
      <span class="menu-text"> {{'Our Products'| translate}} </span> 
    </button>  --> 

    <button *ngIf="isLoggedin()" menuClose class="menu-item" ion-item (click)="yourOrders()">
      <ion-icon name="timer" item-left></ion-icon>
      <span class="menu-text">  {{'Order History'| translate}} </span> 
    </button>

  <!---  <button *ngIf="isCart()" menuClose class="menu-item" ion-item (click)="offer()">
      <ion-icon name="pricetag" item-left></ion-icon>
      {{'Offers'| translate}}
      <ion-badge class="menu-badge">{{noOfItemsInOffer}}</ion-badge>
    </button> -->
   <!---- <button *ngIf="isCart()"  menuClose class="menu-item" ion-item (click)="addToCart()">
      <ion-icon name="cart" item-left></ion-icon>
      <span class="menu-text">  {{'My Cart'| translate}} </span> 
      <ion-badge class="menu-badge">{{noOfItemsInCart}}</ion-badge>
    </button>  -->
    
    <button *ngIf="isLoggedin()" menuClose class="menu-item" ion-item (click)="tableBooking()">
      <ion-icon name="list-box" item-left></ion-icon>
      <span class="menu-text">   {{'Schedule Refill' | translate}} </span> 
    </button>
   <button *ngIf="isLoggedin()" menuClose class="menu-item" ion-item (click)="bookingHistory()">
      <ion-icon name="options" item-left></ion-icon>
       <ion-badge class="menu-badge"></ion-badge> 
       <span class="menu-text">    {{'Refill History' | translate}}  </span> 
    </button> 
   <!---- <button menuClose class="menu-item" ion-item (click)="news()">
      <ion-icon name="paper" item-left></ion-icon>
      {{'News'| translate}}
      <ion-badge class="menu-badge">{{noOfItemsInNews}}</ion-badge>
    </button> -->
    <button *ngIf="isLoggedin()" menuClose class="menu-item" ion-item (click)="favourite()">
      <ion-icon name="heart" item-left></ion-icon>
      <span class="menu-text"> {{'Wishlist'| translate}} </span>
       <ion-badge class="menu-badge">{{noOfItemsInFevrt}}</ion-badge>
    </button>

<!------    <button *ngIf="isLoggedin()" menuClose class="menu-item" ion-item (click)="manageAddress()">
      <ion-icon name="pin" item-left></ion-icon>
      <span class="menu-text"> {{'Manage Address'| translate}} </span>
      <ion-badge class="menu-badge">{{noOfItemsInFevrt}}</ion-badge>
    </button>  -->
    
  <!----   <button menuClose class="menu-item" ion-item (click)="contact()">
      <ion-icon name="call" item-left></ion-icon>
      <span class="menu-text"> {{'Contact Us'| translate}} </span>
    </button>  -->

    <button menuClose class="menu-item" ion-item (click)="aboutUs()">
      <ion-icon name="help" item-left></ion-icon>
      <span class="menu-text"> {{'About Us'| translate}} </span>
    </button>
  <!--  <button menuClose class="menu-item" ion-item *ngIf="isLoggedin()" (click)="presentActionSheet()">
      <ion-icon name="contacts" item-left></ion-icon>
      <span class="menu-text"> {{'Invite Friends' | translate}} </span>
    </button> -->

   <!--- <button *ngIf="isLoggedin()" menuClose class="menu-item" ion-item (click)="chat()">
      <ion-icon name="chatbubbles" item-left></ion-icon>
      {{'Chat' | translate}}
    </button> -->
    
    <button *ngIf="!isLoggedin()" menuClose class="menu-item" ion-item (click)="login()">
      <ion-icon name="log-in" item-left></ion-icon>
      <span class="menu-text"> {{'Login'| translate}} </span>
    </button>
    <button *ngIf="isLoggedin()" ion-item (click)="confirmLogout()" menuClose class="menu-item">
      <ion-icon name="log-out" item-left></ion-icon>
      <span class="menu-text"> {{'Logout'| translate}} </span>
    </button>
  </ion-content>
</ion-menu>

<ion-menu persistent="true" class="menu" [content]="content" *ngIf="this.platform.dir()==='rtl'" side="right">
  <ion-content class="sidebar-menu">
    <ion-row class="img-name-row">
      <ion-col>
        <img class="user-img" src="{{avatar}}">
        <p class="ppp" (click)="Settings()">Edit Profile</p>
      </ion-col>
    </ion-row>
     <ion-row>
   <ion-col *ngIf="isLoggedin()">
        <p class="user-name">{{name | uppercase}}</p>
      </ion-col> 
    </ion-row>  


    <button *ngIf="isLoggedin()" menuClose class="menu-item" ion-item (click)="settings()">
      <ion-icon name="settings" item-left></ion-icon>
      <span class="menu-text"> {{'My Profile'| translate}} </span>
    </button>

    <button menuClose class="menu-item" ion-item (click)="home()">
      <ion-icon name="home" item-left></ion-icon>
      <span class="menu-text"> {{'Order Gas' | translate}} </span>
    </button>
   <!----<button menuClose class="menu-item" ion-item (click)="catagory()">
        <ion-icon name="beaker" item-left></ion-icon>
        <span class="menu-text"> {{'Our Products'| translate}} </span>
    </button>  --> 

   <!--- <button *ngIf="isCart()" menuClose class="menu-item" ion-item (click)="offer()">
      <ion-icon name="pricetag" item-left></ion-icon>
      {{'Offers'| translate}}
      <ion-badge class="menu-badge">{{noOfItemsInOffer}}</ion-badge>
    </button>  -->

    <button *ngIf="isLoggedin()" menuClose class="menu-item" ion-item (click)="yourOrders()">
      <ion-icon name="timer" item-left></ion-icon>
      <span class="menu-text"> {{'Order History'| translate}} </span>
    </button>


   <!--- <button *ngIf="isCart()" menuClose class="menu-item" ion-item (click)="addToCart()">
      <ion-icon name="cart" item-left></ion-icon>
      <span class="menu-text"> {{'My Cart'| translate}} </span>
      <ion-badge class="menu-badge">{{noOfItemsInCart}}</ion-badge>
    </button>  -->
   
   <button *ngIf="isLoggedin()" menuClose class="menu-item" ion-item (click)="tableBooking()">
      <ion-icon name="list-box" item-left></ion-icon>
      <span class="menu-text">   {{'Schedule Refill' | translate}}  </span>
    </button>
   <button *ngIf="isLoggedin()" menuClose class="menu-item" ion-item (click)="bookingHistory()">
      <ion-icon name="options" item-left></ion-icon>
       <ion-badge class="menu-badge"></ion-badge>
       <span class="menu-text"> {{'Refill History' | translate}}  </span>
    </button>  
 <!----   <button menuClose class="menu-item" ion-item (click)="news()">
      <ion-icon name="paper" item-left></ion-icon>
      {{'News'| translate}}
      <ion-badge class="menu-badge">{{noOfItemsInNews}}</ion-badge>
    </button>  -->
    <button *ngIf="isLoggedin()" menuClose class="menu-item" ion-item (click)="favourite()">
      <ion-icon name="heart" item-left></ion-icon>
      <span class="menu-text"> {{'Wishlist'| translate}} </span>
      <!-- <ion-badge class="menu-badge">{{noOfItemsInFevrt}}</ion-badge> -->
    </button>

 <!----   <button *ngIf="isLoggedin()" menuClose class="menu-item" ion-item (click)="manageAddress()">
      <ion-icon name="pin" item-left></ion-icon>
      <span class="menu-text"> {{'Manage Address'| translate}} </span>
       <ion-badge class="menu-badge">{{noOfItemsInFevrt}}</ion-badge>
    </button>  -->
 


  <!-----  <button menuClose class="menu-item" ion-item (click)="contact()">
      <ion-icon name="call" item-left></ion-icon>
      <span class="menu-text"> {{'Contact Us'| translate}} </span>
    </button>  -->
    
    <button menuClose class="menu-item" ion-item (click)="aboutUs()">
      <ion-icon name="contacts" item-left></ion-icon>
      <span class="menu-text"> {{'About Us'| translate}} </span>
    </button>
   <button menuClose class="menu-item" ion-item *ngIf="isLoggedin()" (click)="presentActionSheet()">
    <ion-icon name="share-social" item-left></ion-icon>
    <span class="menu-text">{{'Invite Friends' | translate}} </span>
    </button>
  <!----  <button *ngIf="isLoggedin()" menuClose class="menu-item" ion-item (click)="chat()">
      <ion-icon name="chatbubbles" item-left></ion-icon>
      {{'Chat' | translate}}
    </button>  -->
   
    <button *ngIf="!isLoggedin()" menuClose class="menu-item" ion-item (click)="login()">
      <ion-icon name="log-in" item-left></ion-icon>
      <span class="menu-text"> {{'Login'| translate}} </span>
    </button>
    <button *ngIf="isLoggedin()" ion-item (click)="confirmLogout()" menuClose class="menu-item">
      <ion-icon name="log-out" item-left></ion-icon>
      <span class="menu-text"> {{'Logout'| translate}} </span>
    </button>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
