<ion-header>
  <ion-toolbar>
  	<br>
    <ion-title>Enter Address</ion-title>
    <br>
    <ion-searchbar [(ngModel)]="autocomplete.query" [showCancelButton]="true"   (ionInput)="updateSearch()" (ionCancel)="dismiss()"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of autocompleteItems" tappable   (click)="chooseItem(item)">
      {{ item }}
    </ion-item>
  </ion-list>

  <div *ngIf="!isOrders()">
        <div class="empty-list">
            <ion-icon class="empty" name="map"></ion-icon>
            <h4>Input your address <br>in the search bar</h4>
        </div>
</div>

</ion-content>